* {
	margin: 0rem;
	padding: 0rem;
	top: 0;
	left: 0;
	/* font-family: "Alex Brush", cursive; */
	/* font-family: "Barlow Condensed", sans-serif; */
	/* font-family: "Bellefair", serif; */
	/* font-family: "Changa", sans-serif; */
	font-family: "Epilogue", sans-serif;
	/* font-family: "Inter", sans-serif; */
}
